apache-maven-3.9.6/
jdk-21.0.2+13/
.idea/
.vscode/
TestEnv.java

# Backend
backend/target/
*.jar
*.war
*.class
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local
